@import "src/scss/styles.scss";

.card {
  display: flex;
  border-top: 1px solid var(--color-bottom-line);
  color: var(--color-logo-heading);
  align-items: center;
  user-select: none;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
    padding-top: 30px;
    gap: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    gap: 10px;
  }

  @include media-breakpoint-between(sm, md) {
    justify-content: space-between;
    gap: 10px;
  }

  &__product {
    display: flex;
    width: 100%;
    align-items: center;

    @include media-breakpoint-up(md) {
      max-width: 340px;
    }

    @include media-breakpoint-down(md) {
      max-width: 280px;
    }

    &_image {
      @include media-breakpoint-up(md) {
        width: 95px;
        height: 80px;
        padding-right: 15px;
        margin-top: 5px;
        margin-left: 5px;
      }

      @include media-breakpoint-down(md) {
        width: 55px;
        height: 50px;
        padding-right: 5px;
        margin-top: 3px;
        margin-left: 3px;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3px;
      word-break: break-all;
    }

    &_heading {
      font-weight: var(--font-weight-bold);
      line-height: 27px;

      @include media-breakpoint-up(md) {
        font-size: 22px;
      }

      @include media-breakpoint-down(md) {
        font-size: 17px;
      }
    }

    &_desc {
      line-height: 22px;
      color: var(--color-logo-description);

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }

      @include media-breakpoint-down(md) {
        font-size: 13px;
      }
    }
  }

  &__quantity {
    display: flex;
    align-items: center;

    &_number {
      border: none;
      text-align: center;
      font-weight: var(--font-weight-bold);

      @include media-breakpoint-up(md) {
        font-size: 22px;
      }

      @include media-breakpoint-down(md) {
        max-width: 30px;
        font-size: 17px;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  &__price {
    font-weight: var(--font-weight-bold);
    line-height: 27px;
    color: var(--color-logo-heading);
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }

    @include media-breakpoint-down(md) {
      font-size: 17px;
    }
  }
}
