.content {
  width: 100%;
  font-family: var(--font-family);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  max-width: 1495px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 96px;

  &-navigation {
    user-select: none;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      gap: 10px;
      font-weight: var(--font-weight-bold);
      font-size: 15px;
      flex-wrap: wrap;

      @include media-breakpoint-up(md) {
        padding-right: 20px;
      }

      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
    }

    &__input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0; // TODO
      cursor: pointer;

      &:not(:hover) {
        &~.content-navigation__label { // TODO
          background-color: var(--color-bg-list-item);
        }
      }

      &:hover {
        &~.content-navigation__label { // TODO
          background-color: var(--color-bg-list-item--hover);
        }
      }

      &:checked {
        cursor: auto;

        & ~ .content-navigation__label { // TODO
          background-color: var(--color-bg-list-item-active);
          color: var(--color-button-text);
        }
      }
    }

    &__label {
      border-radius: 30px;
      transition: background-color 0.1s ease-in-out;
      cursor: pointer;
      
      @include media-breakpoint-down(sm) {
        padding: 10px 25px;
      }

      @include media-breakpoint-up(sm) {
        padding: 13px 30px;
      }
    }

    &__item {
      display: flex;
      position: relative;
    }
  }

  &-cards {
    display: flex;
    margin-top: 32px;
    flex-direction: column;

    &__title {
      font-weight: var(--font-weight-bold);
      font-size: 32px;
      line-height: 39px;
    }

    &__container {
      margin-top: 35px;
      flex-wrap: wrap;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, 280px);
      grid-template-rows: 540px;

      @include media-breakpoint-up(xl) {
        max-width: 1225px;
        grid-column-gap: 35px;
        grid-row-gap: 65px;
      }

      @include media-breakpoint-between(lg, xl) {
        max-width: 910px;
        grid-column-gap: 35px;
        grid-row-gap: 65px;
      }

      @include media-breakpoint-between(md, lg) {
        grid-column-gap: 45px;
        grid-row-gap: 65px;
        max-width: 605px;
      }

      @include media-breakpoint-down(md) {
        max-width: 280px;
        grid-row-gap: 55px;
      }
    }
  }
}
