#profile {
  display: none;

  &:checked {
    & ~ .header__dropdown { // TODO
      display: flex;
    }
    & ~ .header__nav-label { // TODO
      svg {
        path {
          fill: var(--color-bg-button);
        }
      }
    }
  }
}

.header {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--color-bottom-line);

  &__container {
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    @include media-breakpoint-up(lg) {
      padding: 29px 25px 35px 25px; 
      gap: 30px;
    }

    @include media-breakpoint-between(md, lg) {
      padding: 20px;
      gap: 10px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 10px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include media-breakpoint-up(lg){
      margin-right: 40px;
    }

    @include media-breakpoint-between(md, lg) {
      margin-right: 20px;
    }

    &-desc {
      justify-content: center;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-logo-description);

      @include media-breakpoint-up(md) {
        display: flex;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__nav {
    user-select: none;
    align-items: center;
    display: flex;
    width: 100%;

    @include media-breakpoint-down(md) {
      flex-direction: row-reverse;
      gap: 15px;
    }

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      gap: 30px;
    }

    &-basket {
      display: flex;
      padding: 10px;
    }

    &-item {
      display: flex;
      position: relative;

      &:hover {
        svg { // TODO
          path { // TODO
            fill: var(--color-bg-button);
          }
        }
      }
    }

    &-label {
      display: flex;
      width: 45px;
      height: 45px;
      cursor: pointer;
      padding: 10px;
      &:hover {
        svg { // TODO
          path { // TODO
            fill: var(--color-bg-button);
          }
        }
      }
    }
  }

  &__dropdown {     // TODO
    display: none;
    position: absolute;
    flex-direction: column;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
    background-color: var(--color-button-text);
    padding-top: 13px;
    padding-bottom: 9px;
    right: 0;
    top: 45px;
    font-size: 17px;
    z-index: 1;

    &-link {
      padding: 10px 14px;

      &:not(:hover) {
        color: var(--color-logo-heading);
        background-color: transparent;
      }

      &:hover {
        background-color: var(--color-bg-sort);
        color: var(--color-bg-button);
      }
    }
  }
}
