.orders-history {
  margin-top: 35px;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-template-rows: 400px;

  @include media-breakpoint-up(xl) {
    max-width: 1225px;
    grid-column-gap: 35px;
    grid-row-gap: 65px;
  }

  @include media-breakpoint-between(lg, xl) {
    max-width: 910px;
    grid-column-gap: 35px;
    grid-row-gap: 65px;
  }

  @include media-breakpoint-between(md, lg) {
    grid-column-gap: 45px;
    grid-row-gap: 65px;
    max-width: 605px;
  }

  @include media-breakpoint-down(md) {
    max-width: 280px;
    grid-row-gap: 55px;
  }

  &__products {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &-img {
      width: 60px;
      height: 60px;
    }
  }

  &__total-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__card {
    max-width: 280px;
    width: 100%;
    text-align: start;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    user-select: none;
    padding: 20px 20px 15px;
    gap: 20px;
    transition-duration: .3s;

    &:not(:hover) {
      box-shadow: var(--shadow-2);
    }

    &:hover {
      box-shadow: var(--shadow-3);
      transform: translateY(2px);
    }

    &-wrapper {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-bottom-line);
    }

    &-date {
      font-size: 20px;
      font-weight: var(--font-weight-bold);
      line-height: 39px;
      color: var(--color-logo-heading);
      white-space: nowrap;
    }

    &-text {
      font-size: 15px;
      font-weight: var(--font-weight-bold);
      line-height: 39px;
      color: var(--color-logo-heading);
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
