.orders {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
  }

}
