.pizzas {
  padding: 40px 0;
  width: 100%;
  font-family: 'Proxima Nova', sans-serif;
  user-select: none;

  &__container {
    max-width: 1445px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

      @include media-breakpoint-down (xl){
        max-width: 1090px;
      }

      @include media-breakpoint-down (lg){
        max-width: 735px;
      }

      @include media-breakpoint-down (md){
        max-width: 380px;
      }
    }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    @include media-breakpoint-down (lg){
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    padding-top: 50px;
    flex-wrap: wrap;
    min-height: 625px;
    height: 100%;
    display: flex;
    gap: 65px 15px;
  }
}
