// fonts
$font-url: "../../assets/fonts";

// @font-face {
//   font-family: 'Proxima Nova Bl';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Black.woff2") format('woff2');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Proxima Nova Th";
  src: url("#{$font-url}/ProximaNova/ProximaNova-Extrabld.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'Proxima Nova Rg';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Regular.woff2") format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Rg';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Bold.woff2") format('woff2');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Bl';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Black.woff2") format('woff2');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Rg';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Regular.woff2") format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Th';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Extrabld.woff2") format('woff2');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Lt';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Semibold.woff2") format('woff2');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Lt';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Semibold.woff2") format('woff2');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Proxima Nova Rg';
//   src: url("#{$font-url}/ProximaNova/ProximaNova-Bold.woff2") format('woff2');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
