:root {
  //color
  --color-logo-heading: #181818;
  --color-logo-description: #7B7B7B;
  --color-bg-button: #fe5f1e;
  --color-button-text: #ffffff;
  --color-bg-button--hover: #f24701;
  --color-bottom-line: #f6f6f6;
  --color-bg-list-item: #f9f9f9;
  --color-bg-list-item-active: #282828;
  --color-bg-list-item--hover: #dddbdb;
  --color-bg-list-item--active: #c5c2c2;
  --color-pizza-bg: #f3f3f3;

  //shadow
  --shadow-1: 0px 2px 4px rgb(0 0 0 / 4%);
}
