:root {
  //color
  --color-logo-heading: #181818;
  --color-logo-description: #585858;
  --color-logo-footer: #828282;
  --color-bg-button: #a13103;
  --color-button-text: #ffffff;
  --color-bg-button--hover: #be3802;
  --color-bottom-line: #f6f6f6;
  --color-bg-list-item: #f9f9f9;
  --color-bg-list-item-active: #282828;
  --color-bg-list-item--hover: #dddbdb;
  --color-pizza-bg: #f3f3f3;
  --color-bg-sort: rgba(254, 95, 30, 0.05);

  //shadow
  --shadow-1: 0px 2px 4px rgb(0 0 0 / 4%);
  --shadow-2: 0px 5px 15px rgba(0, 0, 0, 0.09);

  //font
  --font-family: "Proxima Nova", sans-serif;
}
