.basket-card {
  display: flex;
  border-top: 1px solid var(--color-bottom-line);
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-logo-heading);
  padding-top: 30px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  &__product {
    display: flex;
    max-width: 375px;
    width: 100%;
    align-items: center;

    &-image {
      width: 95px;
      height: 80px;
      padding-right: 15px;
      margin-top: 5%;
      margin-left: 5%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3px;
    }

    &-heading {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
    }

    &-desc {
      font-size: 18px;
      line-height: 22px;
      color: var(--color-logo-description);
    }
  }

  &__quantity {
    display: flex;
    align-items: center;

    &-btn {
      border: 2px solid var(--color-bg-button);
      color: var(--color-bg-button);
      border-radius: 50%;
      cursor: pointer;
      font-size: 23px;
      padding: 1px 7.5px;

      &:hover {
        background-color: var(--color-bg-button);
        color: var(--color-button-text);
      }

      &:active {
        transform: translateY(1px);
      }

      &--green {
        border-color: var(--color-bg-list-item--hover);
        background-color: var(--color-button-text);
        color: var(--color-bg-list-item--hover);

        &:hover {
          background-color: var(--color-button-text);
          color: var(--color-bg-list-item--hover);
        }
      }
    }

    &-number {
      border: none;
      text-align: center;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-logo-heading);
  }
}
