#type1,
#type2,
#type3,
#type4,
#type5,
#type6,
#type7,
#type8,
#type9,
#type10,
#type11,
#type12,
#type13,
#type14,
#type15,
#type16,
#type17,
#type18,
#type19,
#type20,
#type21,
#type22,
#type23,
#type24,
#type25 {
  display: none;

  &:checked {
    & ~ .card__list-label {
      background-color: var(--color-button-text);
      box-shadow: var(--shadow-1);
      border-radius: 5px;
    }
  }
}

.card {
  max-width: 280px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--font-family);
  cursor: pointer;

  @include media-breakpoint-down(lg) {
    max-width: 200px;
  }

  @include media-breakpoint-down(md) {
    max-width: 160px;
  }

  &__image {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    transition-duration: 0.25s;

    &:hover {
      transform: translateY(5px);
    }

    &-wrapper {
      width: 100%;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &__ingredients {
    display: flex;
    background-color: var(--color-pizza-bg);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    min-height: 77px;
    height: 100%;
    text-align: start;
    padding: 6px;
    color: var(--color-logo-description);

    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }

    @include media-breakpoint-down(md) {
      padding: 4px;
    }
  }

  &__params {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-pizza-bg);
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px;
    gap: 5px;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }

    @include media-breakpoint-down(md) {
      font-weight: 500;
      padding: 4px;
      gap: 3px;
    }
  }

  &__list {
    display: flex;
    gap: 5px;

    @include media-breakpoint-down(md) {
      gap: 3px;
    }

    &-item {
      flex-grow: 1;
      display: flex;
    }

    &-label {
      padding: 9px;
      flex-grow: 1;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        padding: 6px;
      }

      &:hover {
        background-color: var(--color-button-text);
        box-shadow: var(--shadow-1);
        border-radius: 5px;
      }
    }
  }

  &__bottom {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-price {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
      white-space: nowrap;

      @include media-breakpoint-down(lg) {
        font-size: 17px;
      }

      @include media-breakpoint-down(md) {
        font-size: 13px;
      }
    }
  }

  &__button {
    background-color: var(--color-button-text);
    cursor: pointer;
    border: 1px solid var(--color-bg-button);
    padding: 11px 16px;
    border-radius: 30px;
    color: var(--color-bg-button);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    @include media-breakpoint-down(lg) {
      font-size: 13px;
      padding: 2px 5px;
    }

    &:hover {
      background-color: var(--color-bg-button);
      color: var(--color-button-text);

      .card__button-span {
        &::after {
          color: var(--color-bg-button);
          background-color: var(--color-button-text);
        }
      }
    }

    &:active {
      background-color: var(--color-bg-button--hover);
      transform: translateY(1px);
    }

    &-span {
      &::before {
        content: "+";
        width: 12px;
        height: 12px;
        margin-right: 10px;

        @include media-breakpoint-down(lg) {
          width: 6px;
          height: 6px;
          margin-right: 4px;
        }
      }

      &::after {
        content: "0";
        color: var(--color-button-text);
        width: 22px;
        height: 22px;
        border-radius: 30px;
        display: inline-block;
        background-color: var(--color-bg-button);
        padding-top: 2px;
        margin-left: 5px;

        @include media-breakpoint-down(lg) {
          height: 17px;
          padding-top: 0px;
          width: 16px;
          margin-top: 2px;
        }
      }
    }
  }
}
