.modal-warn { // TODO
	position: fixed;
	font-family: var(--font-family);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-bg-model);
  box-shadow: var(--shadow-1);
	z-index: 3;
	display: none;
	pointer-events: none;

  &:target {
    display: block;
    pointer-events: auto;
  }

  &__title {
    font-weight: var(--font-weight-bold);
    line-height: 39px;
    color: var(--color-logo-heading);

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
  }

  &__container{ 
    display: flex;
    justify-content: center;
  }

  &__content {
    
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-color: var(--color-button-text);
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-bg-button--hover);

    @include media-breakpoint-down(md){
      max-width: 400px;
    }

    @include media-breakpoint-up(md){
      max-width: 500px;
    }


    &-bottom {
      display: flex;
      width: 80%;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
