#canvas { // TODO
  width: 252px;
  height: 252px;
  background-color: var(--color-bg-list-item--hover);
}

.modal-edit { 
  &:target {
    display: block;
    pointer-events: auto;
  }

  &__title {
    font-size: 22px;
  }

  &__container{ 
    height: 100%;
  }

  &__content {
    max-width: 500px;
    width: 100%;
    max-height: 940px;
    height: 100%;
    padding: 20px 20px 13px 20px;
    gap: 20px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
