.modal-order {
  &:target {
    display: block;
    pointer-events: auto;
  }

  &__title {
    font-size: 22px;
  }

  &__container{ 
    height: 100%;
  }

  &__content {
    height: 100%;
    gap: 20px;
    color: var(--color-logo-description);
    font-size: 18px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      max-height: 750px;
      max-width: 600px;
      width: 100%;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-bottom-line);

    &:last-child {
      flex-direction: row;
      align-items: center;
    }
  }

  &__product {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    &-img {
      @include media-breakpoint-up(md) {
        width: 95px;
        height: 80px;
        padding-right: 15px;
      }
    
      @include media-breakpoint-down(md) {
        width: 55px;
        height: 50px;
        padding-right: 5px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      max-width: 170px;
      width: 100%;
    }
  }

  &__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--color-button-text);
    top: 0;
    padding: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &-text {
      font-size: 15px;
      font-weight: var(--font-weight-bold);
      color: var(--color-logo-heading);
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    position: sticky;
    background-color: var(--color-button-text);
    bottom: 0;
    padding: 20px;
  }
}
