// .search {
//   #search-input:checked ~ &__content {

//   }
// }

#search-input {
  display: none;
  
  &:checked {
    & ~ .search__content { // TODO
      opacity: 1;
      transition: opacity .5s, width .2s;

      @include media-breakpoint-down(md) {
        width: 99vw;
      }

      @include media-breakpoint-up(md) {
        width: 290px;
      }

      .search__content-input {
        display: flex;
      }

      .search__content-btn {
        display: flex;
      }
    }

    &~.search__label { // TODO
      svg {
        path {
          fill: var(--color-bg-button);
        }
      }
    }
  }
}

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &__label {
    display: flex;
    cursor: pointer;
    z-index: 2;
  }

  &__content {
    width: 0;
    display: flex;
    opacity: 0;
    z-index: 1;
    position: absolute;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
      right: 35px;
      background-color: var(--color-bg-list-item--hover);
    }

    @include media-breakpoint-down(md) {
      right: 0;
      height: 9vh; // TODO
      background-color: var(--color-button-text);
    }

    &-input {
      width: 78%;
      color: var(--color-logo-description);
      display: none;
      font-size: 20px;
      outline: none;
      border: none;
      background-color: transparent;
      padding-left: 15px;
      &::-webkit-search-cancel-button {
        cursor: pointer;
        width: 22px;
        height: 22px;
        -webkit-appearance: none;
        background: url('../../img/delete.svg') no-repeat;
      }
    }

    &-btn {
      width: 12%;
      display: none;
    }
  }
}
