#search,
#search-products,
#search-users,
#search-promo,
#search-orders {
  display: none;

  &:checked {
    & ~ .search__form {
      display: flex;
    }
  }
}

.search {
  display: inline-block;
  position: relative;

  &__label {
    display:flex;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: var(--color-bg-button--hover);
        }
      }
    }

    &-svg {
      width: 30px;
      height: 30px;
    }
  }

  &__form {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    justify-content: center;

    &-input {
      // all: unset;
      color: var(--color-bg-button);
      font-size: 15px;

      &:focus-visible {
        outline: unset;
      }
    }
  }
}
