#sort:checked {
  & ~ .sort__arrow:before {
    transform: scale(1, -1);
  }

  & ~ .sort__popup {
    .sort__content {
      display: flex;
    }
  }
}

.sort {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  white-space: nowrap;

  &__arrow {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
    &::before {
      content: url("../../img/arrow.svg");
      padding-right: 7px;
      display: flex;
    }

    @include media-breakpoint-down(xl) {
      font-size: 13px;
    }

    @include media-breakpoint-down(md) {
      font-size: 11px;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-bg-button);
    text-decoration: underline dotted;

    @include media-breakpoint-down(xl) {
      font-size: 13px;
    }

    @include media-breakpoint-down(md) {
      font-size: 11px;
    }
  }

  &__popup {
    display: inline-block;
    position: relative;
  }

  &__content {
    display: none;
    position: absolute;
    flex-direction: column;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
    background-color: var(--color-button-text);
    padding-top: 13px;
    padding-bottom: 9px;
    right: 7px;
    font-size: 15px;

    @include media-breakpoint-down(xl) {
      font-size: 13px;
    }

    &-item {
      display: flex;
    }

    &-link {
      width: 100%;
      padding: 10px 14px;
      color: var(--color-logo-heading);

      &:hover {
        background-color: var(--color-bg-sort);
        color: var(--color-bg-button);
        cursor: pointer;
      }
    }
  }
}

#sort_item1,
#sort_item2,
#sort_item3 {
  display: none;

  &:checked {
    & ~ .sort__content-link {
      background-color: var(--color-bg-sort);
      color: var(--color-bg-button);
      cursor: auto;
    }
  }
}
