#sort {
  display: none;

  &:checked {
    & ~ .sort__arrow:before {
      transform: scale(1, -1);
    }

    & ~ .sort__dropdown {
      .sort__content {
        display: flex;
      }
    }
  }
}

#status1,
#status2,
#status3,
#status4,
#status5 {
  display: none;

  &:checked {
    & ~ .sort__arrow:before {
      transform: scale(1, -1);
    }

    & ~ .sort__content {
      display: flex;
    }
  }
}

.sort {
  user-select: none;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  white-space: nowrap;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__label {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-bg-button);
    text-decoration: underline dotted;
  }

  &__dropdown {
    display: block;
    position: relative;
    user-select: none;
  }

  &__content {
    display: none;
    position: absolute;
    flex-direction: column;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
    background-color: var(--color-button-text);
    padding-top: 13px;
    padding-bottom: 9px;
    right: 7px;
    font-size: 15px;
    z-index: 1;

    &-item {
      display: flex;
      position: relative;
    }

    &-link {
      width: 100%;
      padding: 10px 14px;
      color: var(--color-logo-heading);
    }

    &-input {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;

      &:hover {
        cursor: pointer;
        & ~ .sort__content-link{
          background-color: var(--color-bg-sort);
          color: var(--color-bg-button);
        }
      }

      &:checked {
        cursor: auto;
        & ~ .sort__content-link {
          background-color: var(--color-bg-sort);
          color: var(--color-bg-button);
        }
      }
    }
  }
}
