.table {
  display: flex;
	color: var(--color-logo-heading);
  font-family: var(--font-family);
  max-height: 400px;
  overflow: auto;
  margin-bottom: 20px;

  &__content {
    border-spacing: 0 20px;
  }

  &__block {
    font-size: 16px;
    font-weight: 600;
    
    .sort__label {
      text-decoration: none;
      color: var(--color-logo-heading);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-bg-button);
      color: var(--color-button-text);

      .table__block-svg {
        fill: var(--color-button-text);
      }

      .sort__label {
        text-decoration: none;
        color: var(--color-button-text);
      }
    }

    &:first-child{
      background-color: var(--color-bg-button);
      color: var(--color-button-text);
    }
    &-item {
      text-align: center;
      padding: 15px;
      max-width: 300px;
    }

    &-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 7px 15px;

      &:active {
        transform: translateY(2px);
      }
    }

    &-svg {
      width: 25px;
      height: 25px;
    }

    &-img {
      width: 70px;
      height: 70px;
    }
  }
}




