.modal-edit { 
  &__title {
    font-weight: var(--font-weight-bold);
    line-height: 39px;
    color: var(--color-logo-heading);
    font-size: 22px;
  }

  &__container{ 
    height: 100%;
  }

  &__content {
    max-height: 720px;
    height: 100%;
    max-width: 500px;
    width: 100%;
    padding: 20px 20px 13px 20px;
    gap: 20px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    display: none;
  }

  &__image {
    width: 220px;
    height: 220px;
    background-color: var(--color-bg-list-item--hover);
  }
}
