@import "src/scss/styles.scss";

.search {
  min-width: 50px;
  min-height: 45px;
  position: relative;

  &__content {
    display: flex;
    z-index: 1;
    background-color: var(--color-button-text);
    position: absolute;
    right: 0;

    @include media-breakpoint-down(md) {
      border: none;
    }

    @include media-breakpoint-up(md) {
      border-radius: 40px;
      border: 1px solid;
    }

    &:hover {
      border-color: var(--color-bg-button);

      .search__input {
        padding-left: 15px;

        @include media-breakpoint-down(md) {
          width: 90vw;
        }

        @include media-breakpoint-up(md) {
          width: 240px;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
  }

  &__input {
    border: none;
    background: none;
    outline: none;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    display: flex;
    font-size: 20px;

    &::-webkit-search-cancel-button {
      cursor: pointer;
      width: 22px;
      height: 22px;
      -webkit-appearance: none;
      background: url("../../../assets/image/delete.svg") no-repeat;
    }
  }
}
