@import "src/scss/styles.scss";

.card {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}
